# Игнорировать всё
*
# Разрешить просматривать каталоги
!*/
# Разрешить файлы с нужными расширениями
!*.pro
!*.ui
!*.bpf
!*.bpr
!*.bpg
!*.res
!*.dfm
!*.c
!*.cpp
!*.h
!*.txt
!*.ico
!*.rc
!*.qrc
!*.qm
!*.md
# exe-файлы только в examples/bin
!examples/bin/*.exe
# скрипты сборки
!*.bat 
# Разрешить сам .gitignore
!.gitignore 